In [494]:
import pandas as pd

excel_file = pd.ExcelFile('Bookshop.xlsx')

for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.to_csv(f'./Bookshop_dataset/{sheet_name}.csv', index=False)

In [495]:
df1 = pd.read_csv('/content/Bookshop_dataset/Book.csv')
df2 = pd.read_csv('/content/Bookshop_dataset/Award.csv')

df2['Year Won'] = df2['Year Won'] - 170
df2['Year Won'] = df2['Year Won'].astype(int)

df2 = pd.merge(df1, df2, on='Title', how = 'inner')
df2.drop(columns=['AuthID', 'Title'], axis = 1, inplace=True)

# df1['BookID'] = df1['BookID'].str.replace(r'\D', '', regex=True)
# df1['BookID'] = df1['BookID'].astype(int)

# df1 = df1.drop(['AuthID'],axis=1)

# df = pd.merge(df1, df2, on='Title', how='inner')
# df = df.drop(['Title'],axis=1)
df2.to_csv('/content/Bookshop_dataset/Awards_modified.csv', index=False)

In [496]:
df = pd.read_csv('/content/Bookshop_dataset/Publisher.csv')
df['Year Established'] = df['Year Established'] - 170
df['Year Established'] = df['Year Established'].astype(int)
df['Marketing Spend'] = df['Marketing Spend'].astype(int)
df.to_csv('/content/Bookshop_dataset/Publishers_modified.csv', index=False)

In [497]:
df['Year Established'].max()
# df.columns

1983

In [498]:
import re
df = pd.read_csv('/content/Bookshop_dataset/Edition.csv')
# df['BookID'] = df['BookID'].str.replace(r'\D', '', regex=True)
df['Publication Date'] = pd.to_datetime(df['Publication Date'])
df['Publication Date'] = df['Publication Date'] - pd.offsets.DateOffset(years=170)
# df['ISBN'] = df['ISBN'].apply(lambda x: re.sub(r'-', '', str(x)))

# df['BookID'] = df['BookID'].astype(int)
# df['ISBN'] = df['ISBN'].astype(int)
df['Pages'] = df['Pages'].astype(int)
df['Print Run Size (k)'] = df['Print Run Size (k)'].astype(int)
df['Price'] = df['Price'].astype(float)

df.to_csv('/content/Bookshop_dataset/Editions_modified.csv', index=False)

In [499]:
df['Publication Date'].max()

Timestamp('2022-09-18 00:00:00')

In [500]:
df = pd.read_csv('/content/Bookshop_dataset/Author.csv')
df['Birthday'] = pd.to_datetime(df['Birthday'])
print(df['Birthday'].max(), df['Birthday'].min())
df['Birthday'] = df['Birthday'] - pd.offsets.DateOffset(years=238)
# df['AuthID'] = df['AuthID'].str.replace(r'\D', '', regex=True)
# df['AuthID'] = df['AuthID'].astype(int)
df['Hrs Writing per Day'] = df['Hrs Writing per Day'].astype(float)
df.to_csv('/content/Bookshop_dataset/Authors_modified.csv', index=False)

2238-01-21 00:00:00 2120-03-18 00:00:00

In [501]:
df['Birthday'].max()

Timestamp('2000-01-21 00:00:00')

In [502]:
df['Birthday'].min()

Timestamp('1882-03-18 00:00:00')

In [503]:
df1 = pd.read_csv('/content/Bookshop_dataset/Sales Q1.csv')
df2 = pd.read_csv('/content/Bookshop_dataset/Sales Q2.csv')
df3 = pd.read_csv('/content/Bookshop_dataset/Sales Q3.csv')
df4 = pd.read_csv('/content/Bookshop_dataset/Sales Q4.csv')
concatenated_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
concatenated_df.to_csv('/content/Bookshop_dataset/Sales_modified.csv', index=False)

In [504]:
import re
df = pd.read_csv('/content/Bookshop_dataset/Sales_modified.csv')
df['Sale Date'] = pd.to_datetime(df['Sale Date'])
print(df['Sale Date'].max(), df['Sale Date'].min())
df['Sale Date'] = df['Sale Date'] - pd.offsets.DateOffset(years=170)
# df['ItemID'] = df['ItemID'].apply(lambda x: re.sub(r'-', '', str(x)))
# df['OrderID'] = df['OrderID'].apply(lambda x: re.sub(r'-', '', str(x)))
# df['ISBN'] = df['ISBN'].apply(lambda x: re.sub(r'-', '', str(x)))

# df['OrderID'] = df['OrderID'].astype(int)
# df['ISBN'] = df['ISBN'].astype(int)
# df['ItemID'] = df['ItemID'].astype(int)
df['Discount'] = df['Discount'].astype(float)

df.to_csv('/content/Bookshop_dataset/Sales_modified.csv', index=False)

2193-12-31 00:00:00 2193-01-02 00:00:00

In [505]:
print(df['Sale Date'].max(), df['Sale Date'].min())

2023-12-31 00:00:00 2023-01-02 00:00:00

In [506]:
df1 = pd.read_csv('/content/Bookshop_dataset/Sales_modified.csv')
df2 = df1.copy()

df1.drop(columns=['ItemID', 'ISBN', 'Discount'], axis = 1, inplace = True)
df1.drop_duplicates(subset=['OrderID'], inplace = True)
df2.drop(columns=['Sale Date'], axis = 1, inplace = True)

df1.to_csv('/content/Bookshop_dataset/Orders.csv', index=False)
df2.to_csv('/content/Bookshop_dataset/Items.csv', index=False)

In [507]:
df1 = pd.read_csv('/content/Bookshop_dataset/Book.csv')
df2 = pd.read_csv('/content/Bookshop_dataset/Info.csv')

# df1['BookID'] = df1['BookID'].str.replace(r'\D', '', regex=True)
# df1['AuthID'] = df1['AuthID'].str.replace(r'\D', '', regex=True)
# df1['BookID'] = df1['BookID'].astype(int)
# df1['AuthID'] = df1['AuthID'].astype(int)

# df2 = df2.drop(['BookID1'],axis=1)
# df2.rename(columns={'BookID2': 'BookID'}, inplace=True)
# df2['BookID'] = df2['BookID1'] + df2['BookID2']
df2['BookID'] = df2['BookID1'].astype(str) + df2['BookID2'].astype(str)
df2 = df2.drop(['BookID1'],axis=1)
df2 = df2.drop(['BookID2'],axis=1)

df = pd.merge(df1, df2, on='BookID', how='inner')

df['Volume Number'] = pd.to_numeric(df['Volume Number'], errors='coerce')

df.to_csv('/content/Bookshop_dataset/Books_modified.csv', index=False)

In [508]:
df = pd.read_csv('/content/Bookshop_dataset/Ratings.csv')
# df['BookID'] = df['BookID'].str.replace(r'\D', '', regex=True)
# df['BookID'] = df['BookID'].astype(int)
df['Rating'] = df['Rating'].astype(int)
df = df[df['BookID'] != 'CH392']
df.reset_index(drop=True, inplace=True)
# df['ReviewerID'] = df['ReviewerID'].astype(int)
# df['ReviewID'] = df['ReviewID'].astype(int)
df.to_csv('/content/Bookshop_dataset/Ratings_modified.csv', index=False)

In [509]:
expected_indices = range(df.index.min(), df.index.max() + 1)

# Find the missing indices by comparing the expected indices with the actual indices in the DataFrame
missing_indices = [index for index in expected_indices if index not in df.index]

print("Missing indices:", missing_indices)

Missing indices: []

In [510]:
df = pd.read_csv('/content/Bookshop_dataset/Checkouts.csv')
# df['BookID'] = df['BookID'].str.replace(r'\D', '', regex=True)

# df['BookID'] = df['BookID'].astype(int)
df['CheckoutMonth'] = df['CheckoutMonth'].astype(int)
df['Number of Checkouts'] = df['Number of Checkouts'].astype(int)
df = df[df['BookID'] != 'CH392']
df.reset_index(drop=True, inplace=True)

df['checkout_id'] = range(1001, 1001 + len(df))

df.to_csv('/content/Bookshop_dataset/Checkouts_modified.csv', index=False)

In [511]:
df.head()

  BookID  CheckoutMonth  Number of Checkouts  checkout_id
0  AD222              1                   40         1001
1  AD222              3                   39         1002
2  AD222             11                   34         1003
3  AD222              4                   33         1004
4  AD222              5                   33         1005

In [512]:
df = pd.read_csv('/content/Bookshop_dataset/Series.csv')

df['Planned Volumes'] = df['Planned Volumes'].astype(int)
df['Book Tour Events'] = df['Book Tour Events'].astype(int)

df.to_csv('/content/Bookshop_dataset/Series_modified.csv', index=False)

In [513]:
df = pd.read_csv('/content/Bookshop_dataset/Authors_modified.csv')
# print(df.columns)
df.rename(columns = {'AuthID':'author_id',
                     'First Name':'first_name',
                     'Last Name':'last_name',
                     'Birthday':'birthday',
                     'Country of Residence':'country_of_residence',
                     'Hrs Writing per Day':'hours_writing_per_day'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Authors_modified.csv', index=False)

  author_id first_name      last_name    birthday country_of_residence  \
0     AS443    Abraham     Stackhouse  1909-07-01               Norway
1     AW980     Amelia  Wangerin, Jr.  1903-03-26          New Zealand
2     AI923  Anastasia           Inez  1910-03-30          New Zealand
3     AM329     Arthur        McCrumb  1910-03-13          New Zealand
4     AH957     Arturo       Hijuelos  1891-01-09       United Kingdom

   hours_writing_per_day
0                    6.0
1                   16.0
2                   11.0
3                    3.0
4                    8.0

In [514]:
df = pd.read_csv('/content/Bookshop_dataset/Series_modified.csv')
# print(df.columns)
df.rename(columns = {'SeriesID':'series_id',
                     'Series Name':'series_name',
                     'Planned Volumes':'planned_volumes',
                     'Book Tour Events':'book_tour_events'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Series_modified.csv', index=False)

  series_id             series_name  planned_volumes  book_tour_events
0    BS-CHP             Banana Slug                5                24
1    MT-ESP         Meddler Trilogy                3                17
2    EL-SSC           Esme's Ladies                7                15
3    MM-ESP  The Mallemaroking Saga                3                32
4    IR-ESP      Inspector Ryeslton                4                19

In [515]:
df = pd.read_csv('/content/Bookshop_dataset/Books_modified.csv')
# print(df.columns)
column_order = ['BookID', 'Title', 'AuthID', 'SeriesID', 'Genre', 'Volume Number', 'Staff Comment']
df = df[column_order]
df.rename(columns = {'BookID':'book_id',
                     'Title':'title',
                     'AuthID':'author_id',
                     'SeriesID':'series_id',
                     'Genre':'genre',
                     'Volume Number':'volume_number',
                     'Staff Comment':'comments'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Books_modified.csv', index=False)

  book_id                 title author_id series_id          genre  \
0   BB194         Ballinby Boys     AM329       NaN  SciFi/Fantasy
1   NC652    Nothing But Capers     AS443       NaN     Nonfiction
2   AD222  Alanna Saves the Day     BH149       NaN      Childrens
3   PA169            Post Alley     BM856       NaN        Fiction
4   TC188    Thatchwork Cottage     BM856       NaN        Fiction

   volume_number                                           comments
0            NaN  What? Disaster. Where? The stars. When? Now. W...
1            NaN  When his wife set out to write her magnum opus...
2            NaN  Alanna didn't expect this Tuesday to be any di...
3            NaN                                                NaN
4            NaN                                                NaN

In [516]:
df = pd.read_csv('/content/Bookshop_dataset/Publishers_modified.csv')
# print(df.columns)
df.rename(columns = {'PubID':'publisher_id',
                     'Publishing House':'publishing_house',
                     'City':'city',
                     'State':'state',
                     'Country':'country',
                     'Year Established':'year_established',
                     'Marketing Spend':'marketing_spend'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Publishers_modified.csv', index=False)

  publisher_id        publishing_house           city       state  \
0          CHP  Cedar House Publishers  Friday Harbor  Washington
1          SSC        Sound & Seas Co.        Dunedin       Otago
2           PP     Palimpsest Printing      Edinburgh    Scotland
3          ESP     Etaoin Shrdlu Press        Seattle  Washington

       country  year_established  marketing_spend
0          USA              1916            72000
1  New Zealand              1983           151000
2           UK              1812            48000
3          USA              1899          2320000

In [517]:
df = pd.read_csv('/content/Bookshop_dataset/Ratings_modified.csv')
# print(df.columns)'
column_order = ['ReviewID', 'ReviewerID', 'BookID', 'Rating']
df = df[column_order]
df.rename(columns = {'ReviewID':'review_id',
                     'ReviewerID':'reviewer_id',
                     'BookID':'book_id',
                     'Rating':'rating'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Ratings_modified.csv', index=False)

   review_id  reviewer_id book_id  rating
0       3372          105   AD222       5
1       7340          113   AD222       3
2      20430          234   AD222       3
3      40653          459   AD222       4
4      51337          550   AD222       2

In [518]:
df = pd.read_csv('/content/Bookshop_dataset/Awards_modified.csv')
# print(df.columns)
df.rename(columns = {'BookID':'book_id',
                     'Award Name':'award_name',
                     'Year Won':'year_won'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Awards_modified.csv', index=False)

  book_id           award_name  year_won
0   BB194  World Fantasy Award      2010
1   NC652  National Book Award      2009
2   AD222      Caldecott Medal      2016
3   PA169         Agatha Award      2009
4   PP866           Hugo Award      2018

In [519]:
df = pd.read_csv('/content/Bookshop_dataset/Editions_modified.csv')
# print(df.columns)
column_order = ['ISBN', 'BookID', 'PubID', 'Publication Date', 'Format', 'Print Run Size (k)', 'Pages', 'Price']
df = df[column_order]
df.rename(columns = {'ISBN':'isbn',
                     'BookID':'book_id',
                     'PubID':'publisher_id',
                     'Publication Date':'publication_date',
                     'Format':'format',
                     'Print Run Size (k)':'print_run_size',
                     'Pages':'pages',
                     'Price':'price'
                     }, inplace = True)
# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Editions_modified.csv', index=False)

                isbn book_id publisher_id publication_date     format  \
0  989-28-79-70597-8   TT359          ESP       2008-06-02  Hardcover
1  989-28-654-6930-3   NP937           PP       2008-08-18  Hardcover
2  989-28-79-52883-6   PA169           PP       2008-09-08  Hardcover
3  989-28-79-43574-5   TM925          ESP       2008-09-15    Graphic
4  989-28-654-5794-2   HS107           PP       2008-09-29  Hardcover

   print_run_size  pages  price
0              15    277  27.99
1               6    394  30.99
2              10    384  27.99
3               8    187  23.99
4               3    640  26.99

In [520]:
df = pd.read_csv('/content/Bookshop_dataset/Checkouts_modified.csv')
# print(df.columns)
column_order = ['checkout_id', 'BookID', 'CheckoutMonth', 'Number of Checkouts']
df = df[column_order]
df.rename(columns = {'BookID':'book_id',
                     'CheckoutMonth':'checkout_month',
                     'Number of Checkouts':'checkout_count',
                     'checkout_id':'checkout_id'
                     }, inplace = True)

# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Checkouts_modified.csv', index=False)

   checkout_id book_id  checkout_month  checkout_count
0         1001   AD222               1              40
1         1002   AD222               3              39
2         1003   AD222              11              34
3         1004   AD222               4              33
4         1005   AD222               5              33

In [521]:
df = pd.read_csv('/content/Bookshop_dataset/Sales_modified.csv')
# print(df.columns)
df.rename(columns = {'OrderID':'order_id',
                     'ItemID':'item_id',
                     'ISBN':'isbn',
                     'Sale Date':'order_date',
                     'Discount':'discount'
                     }, inplace = True)

# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Sales_modified.csv', index=False)

   order_date               isbn  discount         item_id   order_id
0  2023-01-02  989-28-3705-007-2       NaN  107020-91-8011   107020-1
1  2023-01-02  989-28-79-11297-4       NaN   107020-9-3293  107020-10
2  2023-01-02  989-28-79-11297-4       NaN  107020-91-4622  107020-11
3  2023-01-02  989-28-79-18127-7       NaN  107020-38-4663  107020-12
4  2023-01-02  989-28-79-82197-5      0.15   107020-1-1485  107020-13

In [522]:
df = pd.read_csv('/content/Bookshop_dataset/Orders.csv')
# print(df.columns)
column_order = ['OrderID', 'Sale Date']
df = df[column_order]
df.rename(columns = {'OrderID':'order_id',
                     'Sale Date':'order_date'
                     }, inplace = True)

# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Orders.csv', index=False)

    order_id  order_date
0   107020-1  2023-01-02
1  107020-10  2023-01-02
2  107020-11  2023-01-02
3  107020-12  2023-01-02
4  107020-13  2023-01-02

In [523]:
df = pd.read_csv('/content/Bookshop_dataset/Items.csv')
# print(df.columns)
column_order = ['ItemID', 'OrderID', 'ISBN', 'Discount']
df = df[column_order]
df.rename(columns = {'OrderID':'order_id',
                     'ItemID':'item_id',
                     'ISBN':'isbn',
                     'Discount':'discount'
                     }, inplace = True)

# print(df.columns)
print(df.head())
df.to_csv('/content/Bookshop_dataset/Items.csv', index=False)

          item_id   order_id               isbn  discount
0  107020-91-8011   107020-1  989-28-3705-007-2       NaN
1   107020-9-3293  107020-10  989-28-79-11297-4       NaN
2  107020-91-4622  107020-11  989-28-79-11297-4       NaN
3  107020-38-4663  107020-12  989-28-79-18127-7       NaN
4   107020-1-1485  107020-13  989-28-79-82197-5      0.15

In [524]:
import zipfile
import os

def zip_folder(folder_path, zip_path):
    with zipfile.ZipFile(zip_path, 'w', zipfile.ZIP_DEFLATED) as zipf:
        for root, _, files in os.walk(folder_path):
            for file in files:
                file_path = os.path.join(root, file)
                arc_name = os.path.relpath(file_path, os.path.dirname(folder_path))
                zipf.write(file_path, arc_name)

# Specify the folder to be zipped
folder_to_zip = '/content/Bookshop_dataset'

# Specify the path for the zip file to be created
zip_file_path = '/content/Bookshop_dataset.zip'

# Call the function to zip the folder
zip_folder(folder_to_zip, zip_file_path)

print(f'Folder "{folder_to_zip}" has been zipped to "{zip_file_path}"')

Folder "/content/Bookshop_dataset" has been zipped to "/content/Bookshop_dataset.zip"